body {
  font-size: 18px;
  line-height: 1.67em;
  font-weight: 400;
  color: #2b2b2b;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
.university-facilities {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
.university-facilities .title-section {
  text-align: left;
  width: 100%;
  margin-bottom: 40px;
}
.university-facilities .qodef-m-text {
  font-family: "Crimson Pro", serif;
  font-size: 20px;
  line-height: 1.4em;
  font-weight: 300;
  font-style: italic;
  color: #272727;
  margin: 0;
}
.university-facilities h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: -0.005em;
  color: #171717;
  font-size: 50px;
  line-height: 1.12em;
  margin: 25px 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.university-facilities h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: -0.005em;
  color: #171717;
  font-size: 23px;
  line-height: 1.3em;
  margin: 25px 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0% 25% 0% 0%;
  margin-top: 40px;
}
.university-facilities .facilities-grid {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  align-items: stretch;
}
.university-facilities .facilities-grid .facility {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  flex: 1;
  min-width: 250px;
  max-width: 200px;
  justify-content: space-between;
  padding: 0;
}
.university-facilities .facilities-grid .facility:not(:last-child) {
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: #00000040;
}
.university-facilities .facilities-grid .facility img {
  width: 50px;
  height: 50px;
  margin-left: 0;
  margin-right: auto;
}
.university-facilities .facilities-grid .facility p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  color: #7D7D7D;
  line-height: 1.6;
  flex-grow: 1;
  text-align: left;
  margin-bottom: 0;
  padding: 0% 10% 0% 0%;
  margin: 11px 0 0;
}
